@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --black: #333;
    --white: #fff;
    --orange: #c63;
    --green: #A4cc33;
    --greyF3: #f3f3f3;
    --greyF4: #f4f4f4;
    --greyF9: #f9f9f9;
    --greyEC: #ececec;
    --greyD9: #D9D9D9;
    --greyC4: #C4C4C4;
    --grey99: #999999;
    --grey66: #666666;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--greyF4);
    font-size: 14px;
    line-height: 16px;
    font-family: 'Roboto', serif;
}

* {
    color: black;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    padding: 0;
    border: 0;
    background:transparent;
    cursor: pointer;
}